[submodule "sosol"]
	path = sosol
	url = https://github.com/sosol/sosol
[submodule "idp.data"]
	path = idp.data
	url = https://github.com/papyri/idp.data
[submodule "navigator"]
	path = navigator
	url = https://github.com/papyri/navigator.git
	branch = jquery-updates
[submodule "xsugar"]
	path = xsugar
	url = https://github.com/papyri/xsugar.git
	branch = rails-3-nfd
[submodule "epidoc-xslt"]
	path = epidoc-xslt
	url = https://github.com/EpiDoc/Stylesheets.git
