[submodule "sosol"]
	path = sosol
	url = https://gitlab.oit.duke.edu/papyri/sosol.git
[submodule "idp.data"]
	path = idp.data
	url = https://github.com/papyri/idp.data
[submodule "navigator"]
	path = navigator
	url = https://gitlab.oit.duke.edu/papyri/navigator.git
[submodule "xsugar"]
	path = xsugar
	url = https://github.com/papyri/xsugar.git
	branch = rails-3-nfd
[submodule "epidoc-xslt"]
	path = epidoc-xslt
	url = https://github.com/EpiDoc/Stylesheets.git
[submodule "epidocinator"]
	path = epidocinator
	url = https://gitlab.oit.duke.edu/papyri/epidocinator.git
